In [7]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame.from_csv("data/pokemon.csv")

/Users/sabrinaho/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  """Entry point for launching an IPython kernel.

In [5]:
df.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [8]:
# HP

df['HP'].describe()

count    800.000000
mean      69.258750
std       25.534669
min        1.000000
25%       50.000000
50%       65.000000
75%       80.000000
max      255.000000
Name: HP, dtype: float64

In [9]:
# attack

df['Attack'].describe()

count    800.000000
mean      79.001250
std       32.457366
min        5.000000
25%       55.000000
50%       75.000000
75%      100.000000
max      190.000000
Name: Attack, dtype: float64

In [10]:
# defense

df['Defense'].describe()

count    800.000000
mean      73.842500
std       31.183501
min        5.000000
25%       50.000000
50%       70.000000
75%       90.000000
max      230.000000
Name: Defense, dtype: float64

In [11]:
# sp. atk

df['Sp. Atk'].describe()

count    800.000000
mean      72.820000
std       32.722294
min       10.000000
25%       49.750000
50%       65.000000
75%       95.000000
max      194.000000
Name: Sp. Atk, dtype: float64

In [12]:
# sp. def

df['Sp. Def'].describe()

count    800.000000
mean      71.902500
std       27.828916
min       20.000000
25%       50.000000
50%       70.000000
75%       90.000000
max      230.000000
Name: Sp. Def, dtype: float64

In [13]:
# speed

df['Speed'].describe()

count    800.000000
mean      68.277500
std       29.060474
min        5.000000
25%       45.000000
50%       65.000000
75%       90.000000
max      180.000000
Name: Speed, dtype: float64